body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-top: 20px;
}

h2 {
    color: #333;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

input[type="submit"], .btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover, .btn {
    background-color: #0056b3;
}


#userForm {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#userList, #taskList {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Add this CSS to your stylesheet to style the table */
.task-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .task-table th, .task-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .task-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .task-table th {
    background-color: #4CAF50;
    color: white;
  }
  